Let's learn more about pandas! Let's load the appropriate library
# Initialize

In [ ]:
import pandas as pd
import numpy as np

<font color='red'>To-do:</font> Load nfl_football_profiles.json to pandas df named nfl

Lets clean up the data:
Let's remove all the commas in the current_salary column in a new column called salary

In [ ]:
nfl['salary'] = nfl['current_salary'].str.replace(',', '')

Let's clean this up further by converting the data type to a float

In [ ]:
nfl['salary'] = nfl['salary'].astype(float)

In [ ]:
nfl['salary'].head(10)

<font color='red'>To-do:</font> Remove all NaN values in salary from the nfl df into a new df called nfl_salary_cleaned

# Dummy variables and discretizing salaries

<font color='red'>To-do:</font> Using the same NFL dataset, lets discretize the salaries. Let's create bins by splitting salaries into five equally sized groups (hint: use pd.Series.quantiles and np.linspace)

Using these bins that we set, we can set labels to them and have them categorized by that bin by using pd.cut()

In [ ]:
pd.cut(nfl_salary_cleaned['salary'],bins,labels=['d0','d2','d4','d6','d8'])[0:10]

Similarly, we can create dummy variables to categorize our labels and bins into an organized dataframe by using pd.get_dummies(). It will display whether a player fits into our labels based on their salary bin range.

In [ ]:
dummy_variable = pd.get_dummies(pd.cut(nfl_salary_cleaned['salary'],bins,labels=['d0','d2','d4','d6','d8']))

In [ ]:
dummy_variable.head()

# Joining and Merging Datasets

Let's create some simple dataframes

In [ ]:
drinks1 = pd.DataFrame({'Drinks': ['Coca-Cola', 'Sprite', 'Fanta', 'Root-Beer', 'Dr. Pepper'],
                   'Prices': [0.99, 1.49, 1.99, 2.49, 5],
                   'id': ['D01', 'D02', 'D03', 'D04', 'D05']})

In [ ]:
drinks1.head()

In [ ]:
drinks2 = pd.DataFrame({'Drinks': ['Squirt', 'Ginger-Ale', 'Cream-Soda', 'Pepsi'],
                   'Prices': [0.49, 0.99, 1.99, 1.49],
                   'id': ['D06', 'D07', 'D08', 'D09']})

In [ ]:
drinks2.head()

<font color='red'>To-do:</font> Concatenate drinks1 and drinks2 on rows, but ignore indexes. Show all 9 rows on the df

Now let's practice joining tables. Load in title.ratings.tsv and title.basics.tsv. <font color='red'>These files are included in the zipped file you downloaded with your lab instructions. </font>

In [ ]:
ratings = pd.read_csv('title.ratings.tsv', sep='\t')

In [ ]:
ratings.head()

In [ ]:
titles = pd.read_csv('title.basics.tsv', sep='\t')

In [ ]:
titles.head()

Notice that on titles and ratings, tconst is the same. We can therefore join these two dataframe using that column as index.

<font color='red'>To-do:</font> Merge ratings and titles in a dataframe called imdb_info on tconst. In a markdown cell, explain what kind of join this is and why you chose to use it.

<font color='red'>To-do:</font> In a markdown cell, explain the difference between an inner join, outer join, right join, and left join.

<font color='red'>To-do:</font> What is the difference between pd.concat and pd.merge?

# Exploding, manipulation and grouping practice, YAY!

Let's look at the genres in our imdb_info df. Use explode function to create a row per genre, title pair. (Similar to Q14 in HW1). There also appears to be '\N' tacked onto each of the cells. Let's also get rid of that.

In [ ]:
imdb_info.genres = imdb_info.genres.str.extract(r'([a-zA-Z,]*)')
imdb_info.loc[:,"genre_list"] = imdb_info.apply(lambda x: str(x["genres"]).split(","),axis=1)
df_genre = imdb_info.explode("genre_list")
df_genre.rename(columns={'genre_list':'genre'}, inplace=True)

In [ ]:
imdb_info.head()

Looking at runtimeMinutes, we see that its type is object.

In [ ]:
df_genre['runtimeMinutes'].head()

We want to fix the data up a bit more. There appears to be '\\N' tacked onto the end of runtimeMinutes. Let's just grab the number in each of the cells by using some regex

<font color='red'>To-do:</font> Extract the numeric values from the runtimeMinutes column. (HINT: use .str.extract())

<font color='red'>To-do:</font> Change the object dtype of runtimeMinutes to float.

Let's practice using some groupby on the dataset. Let's look at the df by grouping by the average rating

In [ ]:
df_genre.groupby('averageRating').sum()

<font color='red'>To-do:</font> Find the average number of votes for averageRating for each genre. Find the first quartile.

<font color='red'>To-do:</font> What is the total number of votes for each genre, for each start year? (hint - use groupby)

# Analysis on Child Opportunity Index

Now let's analyse the child opportunity dataset from the lecture with the tools we've learnt today. But, first let's load the Child Opportunity Index json file from the lecture. Column descriptions can be found at this [link](https://data.diversitydatakids.org/dataset/coi20-child-opportunity-index-2-0-database/resource/f16fff12-b1e5-4f60-85d3-3a0ededa30a0)

In [ ]:
opportunity = pd.read_json('raw.json')

<font color='red'>To-do:</font>  Create a dataframe that shows the min, average and maximum median household income in census tracts that belong to a top 100 metropolitan area and those that don't (hint: use groupby and apply to do this)

<font color='red'>To-do:</font> Create a a new column in the dataframe by bucketing the median household income into 4 equal sized in terms of number of rows groups (hint use pd.Series.quantile function) "low_mhe","low-medium_mhe", "high-medium_mhe", and "high_mhe".

<font color='red'>To-do:</font> Now create a table such that the index corresponds to whether a census tract belongs to top 100 metropolitan area, the columns correspond to the median household income bucket and the values correspond to average third-grade math proficiency. As a challenge, consider what you may be able say about (i) the relationship between household income and math proficiency of children as a whole and (ii) how this relationship differs between big cities and elsewehere?