# SQLite Exercises

### Lets start with importing the packages and creating an in memory db

In [17]:
import json
import sqlite3
conn = sqlite3.connect(':memory:')
import numpy as np
import pandas as pd

### Create a table and add rows

In [18]:
c = conn.cursor()
c.execute('CREATE TABLE stocks (date text, trans text, symbol text, qty real, price real)')
purchases = pd.DataFrame([('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ])
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)
conn.commit()

ValueError: parameters are of unsupported type

### Retrieve data using select statements

In [12]:
results = c.execute('SELECT * FROM stocks ORDER BY price')
for row in results:
    print (row)

('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [11]:
# What happens if i try to print the results again?
for row in results:
    print (row)